<div class="posts-wrapper">

    
    <div class="post">
        <div class="post-head">
            <div class="name">
                Sarina Rahman
            </div>
        </div>
        <div class="image center-block">
        <%= image_tag @post.image.url(:medium), class:'img-responsive' %>
        </div>
        <p class="caption">
        <%= @post.caption %>
        </p>
        
    </div>
    

</div>